mixin itemCategory(itemObj={})
    div.menus_item
        div.menu_title
            p=itemObj.title
            span=itemObj.description
        div.menu_arrow
            //- i.fas.fa-arrow-up
            i.fas.fa-arrow-down
