mixin itemBlock(itemObj={})
    div.item
        div.item_img
        div.item_box
            p.item_box_title=itemObj.title
            p.mt5.item_box_description=itemObj.description
            p.mt50.item_box_price=itemObj.price
            p.mt5.item_box_small=itemObj.small
