<<<<<<< HEAD
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge 'self'")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/register.css")
        link(rel="stylesheet", href="/static/css/common.css")
        link(rel="stylesheet", href="/static/css/footer.css")
        link(rel="stylesheet", href="/static/css/header.css")
        link(rel="stylesheet", href="/static/css/reset.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css", rel="stylesheet") 
        title Account Register
    body
        include partials/header
        main.container.fc
            .register_box.fc
                .login_title.mb50 REGISTER
                form(action="post", novalidate).register_form.fc#registerForm
                    .account_box.mb40.fc
                        label(for="account").mb5 Account
                        .mb10.fr.validate_box
                            input(id="account", type="text", name="account", required, data-validate="true")
                            i.fas.fa-exclamation-circle.warning_icon.dispnone
                        small.dispnone Validation Message
                    .password_box.mb40.fc
                        label(for="password").mb5 Password
                        .mb10.fr.validate_box
                            i.far.fa-eye.password_btn.mr10.ml10#passwordBtn
                            input(id="password", type="password", name="password", required, data-validate="true")
                            i.fas.fa-exclamation-circle.warning_icon.dispnone
                        small Your password must be eight characters or more and contain both an uppercase letter and a number
                    .privacy_box.fc.mb40
                        .privacy_input_box.fr.mb10
                            div.select_box.fc
                                label(for="selectBox").mb5 Gender
                                select(id="selectBox", name="sex").mr10.validate_box
                                    option(value="1", checked) Man
                                    option(value="2") Woman
                            div.select_name.fc
                                label(for="name").mb5 Name
                                .fr.validate_box
                                    input(id="name", type="text", name="name", required, data-validate="true")
                                    i.fas.fa-exclamation-circle.warning_icon.dispnone
                        small.dispnone Validation Message
                    .birthday_box.fc.mb40
                        label(for="").mb5 Date of birth (optional)
                        .fr.mb10
                            input(type="text", name="year", placeholder="year", required, data-validate="true").validate_box
                            input(type="text", name="month", placeholder="month", required, data-validate="true").validate_box
                            input(type="text", name="day", placeholder="day", required, data-validate="true").validate_box
                        small.dispnone Validation Message
                    .notification_box.fr.mb40
                        input(type="checkbox", name="notification", checked).mr10#notification
                        .notification_text
                            p Sign up for style news and offers
                            p.tdul.mt10 What will I receive?
                            
                    p.tos.mb40 By registering, your account will be subject to the 
                        span.tdul Terms and Conditions 
                        | &amp; 
                        span.tdul Privacy Policy
                    input(type="submit", value="Test Submit Button")
                    input(type="button" value="Create Account").mb40#loginMainBtn
                hr.mb40
                .account_register
                    div.mb20 Already have an account
                    input(type="button", value="Sign In").ml10#mainAccountRegister
                
        include partials/footer

    script(src="/static/js/header.js") 
    script(src="/static/js/register.js", type="module") 
    script(src="/static/js/common.js", type="module") 
=======
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge 'self'")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/register.css")
        link(rel="stylesheet", href="/static/css/common.css")
        link(rel="stylesheet", href="/static/css/footer.css")
        link(rel="stylesheet", href="/static/css/header.css")
        link(rel="stylesheet", href="/static/css/reset.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css", rel="stylesheet") 
        title Account Register
    body
        include partials/header
        main.container.fc
            .register_box.fc
                .login_title.mb50 REGISTER
                form(action="post").register_form.fc#registerForm
                    .account_box.mb40.fc
                        label(for="account").mb5 Account 
                        input(id="account", type="text", name="account", required).mb10
                        i.fas.fa-exclamation-circle
                        small Validation Message
                    .password_box.mb40.fc
                        label(for="password").mb5 Password
                        .mb10.fr
                            i.far.fa-eye.password_btn.mr10.ml10#passwordBtn
                            input(id="password", type="password", name="password", required)
                        small.password_help Your password must be eight characters or more and contain both an uppercase letter and a number
                    .privacy_box.fr.mb40
                        div.select_box.fc
                            label(for="selectBox").mb5 Gender
                            select(id="selectBox", name="sex").mr10
                                option(value="1") Man
                                option(value="2") Woman
                        div.select_name.fc
                            label(for="fistName").mb5 Fist name
                            input(id="fistName", type="text", name="name", required)
                    .birthday_box.fc.mb40
                        label(for="").mb5 Date of birth (optional)
                        .fr
                            input(type="text", name="year", placeholder="year", required)
                            input(type="text", name="month", placeholder="month", required)
                            input(type="text", name="day", placeholder="day", required)
                    .notification_box.fr.mb40
                        input(type="checkbox", name="notification", checked).mr10#notification
                        .notification_text
                            p Sign up for style news and offers
                            p.tdul.mt10 What will I receive?
                            
                    p.tos.mb40 By registering, your account will be subject to the 
                        span.tdul Terms and Conditions 
                        | &amp; 
                        span.tdul Privacy Policy
                    input(type="submit", value="Test Submit Button")
                    input(type="button" value="Create Account").mb40#loginMainBtn
                hr.mb40
                .account_register
                    div.mb20 Already have an account
                    input(type="button", value="Sign In").ml10#mainAccountRegister
                
        include partials/footer

    script(src="/static/js/header.js") 
    script(src="/static/js/register.js") 
>>>>>>> 155242d9770d2fdbe12fb78188112dd009364c47
