doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge 'self'")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/register.css")
        link(rel="stylesheet", href="/static/css/common.css")
        link(rel="stylesheet", href="/static/css/footer.css")
        link(rel="stylesheet", href="/static/css/header.css")
        link(rel="stylesheet", href="/static/css/reset.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css", rel="stylesheet") 
        title Account Register
    body
        include partials/header
        main.container.fc
            .register_box.fc
                .login_title.mb50 REGISTER
                form(action="register", method="POST", novalidate).register_form.fc#registerForm
                    .account_box.mb40.fc
                        label(for="account").mb5 Account
                        div(data-index="0").mb10.fr.validate_box
                            input(id="account", type="text", name="account", required, data-validate="true", maxlength="30")
                            i.fas.fa-exclamation-circle.warning_icon.dispnone
                        small.dispnone 30자 이하로 입력해주시기 바랍니다.
                    .password_box.mb40.fc
                        label(for="password").mb5 Password
                        div(data-index="1").mb10.fr.validate_box
                            i.far.fa-eye.password_btn.mr10.ml10#passwordBtn
                            input(id="password", type="password", name="password", required, data-validate="true", maxlength="50")
                            i.fas.fa-exclamation-circle.warning_icon.dispnone
                        small.small_text 8자 이상 특수문자, 알파벳, 숫자가 포함되게 만들어주세요.
                    .privacy_box.fc.mb40
                        .privacy_input_box.fr
                            div.select_box.fc
                                label(for="selectBox").mb5 Gender
                                select(id="selectBox", name="gender").mr10
                                    option(value="1", checked) Man
                                    option(value="2") Woman
                            div.select_name.fc
                                label(for="name").mb5 Name
                                div(data-index="2").fr.validate_box.mb10
                                    input(id="name", type="text", name="name", required, data-validate="true", maxlength="30")
                                    i.fas.fa-exclamation-circle.warning_icon.dispnone
                                small.dispnone please input text.
                        
                    .birthday_box.fc.mb40
                        label(for="").mb5 Date of birth (optional)
                        .fr.mb10
                            input(type="text", id='year', name="year", required, data-validate="true", maxlength="4", data-date="3").validate_box
                            input(type="text", id='month', name="month", placeholder="01", required, data-validate="true", maxlength="2", data-date="3").validate_box
                            input(type="text", id='day', name="day", placeholder="01", required, data-validate="true", maxlength="2", data-date="3").validate_box
                        small.dispnone please input year, month, day
                    .notification_box.fr.mb40
                        input(type="checkbox", name="notification", checked).mr10#notification
                        .notification_text
                            p Sign up for style news and offers
                            p.tdul.mt10 What will I receive?
                            
                    p.tos.mb40 By registering, your account will be subject to the 
                        span.tdul Terms and Conditions 
                        | &amp; 
                        span.tdul Privacy Policy
                    input(type="button" value="Create Account").mb40#createAccountBtn
                hr.mb40
                .account_register
                    div.mb20 Already have an account
                    input(type="button", value="Sign In").ml10#loginHandlerBtn
        include partials/footer

    script(src="/static/js/header.js") 
    script(src="/static/js/register.js", type="module") 
