doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge 'self'")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/items.css")
        link(rel="stylesheet", href="/static/css/common.css")
        link(rel="stylesheet", href="/static/css/footer.css")
        link(rel="stylesheet", href="/static/css/header.css")
        link(rel="stylesheet", href="/static/css/reset.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css", rel="stylesheet") 
        title Items
    body
        include partials/header
        main.container
            section
                .logo
                    p.fs20 BALENCIAGA
                    p.fs23.mb20 Item Title(제목)
                    p 
                        //- <i class="fas fa-heart"></i>
                        i.far.fa-heart 
                        span  Favorite Designer
                hr
            section.prent_grid
                aside.category
                    //- pug에서 반복시키는 함수 돌려야함.
                    .category1 
                        div 항목
                section.items.mb50
                    .items_grid
                        //- pug에서 반복시키는 함수 돌려야함.
                        .items1
                            .item1 Hello!!
                        .items1
                            .item1 Hello!!
                        .items1
                            .item1 Hello!!
                        .items1
                            .item1 Hello!!
                        .items1
                            .item1 Hello!!
                        .items1
                            .item1 Hello!!
                        .items1
                            .item1 Hello!!
            section.scrollbtn.mb20 뀨!
            hr
            section.paging.mb20 Paging! 
                    
            
        include partials/footer

    script(src="/static/js/items.js") 