doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge 'self'")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/items.css")
        link(rel="stylesheet", href="/static/css/common.css")
        link(rel="stylesheet", href="/static/css/footer.css")
        link(rel="stylesheet", href="/static/css/header.css")
        link(rel="stylesheet", href="/static/css/reset.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css", rel="stylesheet") 
        title Items
    body
        include mixins/itemBlock
        include mixins/itemCategory
        include partials/header
        main.container
            section
                .logo
                    p.fs20 BALENCIAGA
                    p.fs23.mb20 Item Title(제목)
                    p 
                        //- <i class="fas fa-heart"></i>
                        i.far.fa-heart 
                        span  Favorite Designer
                hr
            .options
                .itemCnt 100 Results
                .itemSort
                    .select#select
                        span.select_title Recommended
                        span.select_arrow
                            i.fas.fa-arrow-down
                ul.select_box.dispnone
                    li(data-value="1") Recommended
                    li(data-value="2") New In
                    li(data-value="3") Price Hight to Low
                    li(data-value="4") Price Low to Hight
            section.prent_grid
                aside.menus
                    .menus_box
                        .menus_scrollbox
                            .menus_subbox#menuBox
                                each obj, index in menus ? menus : []
                                    +itemCategory(obj, index)
                section.items.mb50
                    .menu_checked.mb20#checkBox
                        each value, index in checkboxs
                            .check_box.mr10.mb10(data-check-index=index)
                                span=value 
                                i.fas.fa-times.ml10#close(data-check-close=index)
                    .items_grid
                        each item in items ? items : []
                            +itemBlock(item)
                        
            section.scrollbtn.mb20
                i.fas.fa-arrow-circle-up#scrollbtn
            hr
            section.paging.mb20 
                div Paging! (이건 나중에 값 보낼때 적용해줘야할 듯) 
                    
            
        include partials/footer

    script(src="/static/js/items.js") 