doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge 'self'")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/reset.css")
        link(rel="stylesheet", href="/static/css/main.css")
        link(rel="stylesheet", href="/static/css/footer.css")
        link(rel="stylesheet", href="/static/css/header.css")
        link(rel="stylesheet", href="/static/css/common.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css", rel="stylesheet") 
        title Main
    body
        .fc.create_account#createAccount
            p.mb20 ㅇㅇ님 회원가입 ㅊㅋㅊㅋ드림
            input(type="button", value="Close")
        include partials/header
        main.container
            .fr.a.jcB.mt35.z.mhe41
                .sz6
                    img(src="/static/resources/a.webp", alt="a")
                .box.fc.m50.sz3
                    span.box_title.fs44 The fashion forecast
                    span.box_desc Warm up your wardrobe with our ultimate coat and knitwear checklist
                    a.box_link Shop the winter edit
            .fr.b.jcB.mt35.z.mhe41
                .box.fc.lbox.lsz.sz3
                    h4 858 New items 
                    span.box_title.fs44 New In
                    span.box_desc Stay ahead of the style curve with our latest arrivals
                    button.box_btn Shop New In
                .slider.rsz.sz6
                    .lbtn.btncl
                        button.slider_btn <
                    .slider_box.fr.mt10.mb10
                        .slider_img_box
                            img(src="/static/resources/a.webp", alt="b").slider_img
                            p item title
                        .slider_img_box
                            img(src="/static/resources/a.webp", alt="b").slider_img
                            p item title
                        .slider_img_box
                            img(src="/static/resources/a.webp", alt="b").slider_img
                            p item title
                        .slider_img_box
                            img(src="/static/resources/a.webp", alt="b").slider_img
                            p item title
                        .slider_img_box 
                            img(src="/static/resources/a.webp", alt="b").slider_img
                            p item title
                        .slider_img_box
                            img(src="/static/resources/a.webp", alt="b").slider_img
                            p item title
                    .rbtn.btncl
                        button.slider_btn >
            .fr.c.jcB.mt35.z.mhe52
                div.sz5
                    .hlImg
                        img(src="/static/resources/a.webp", alt="a")
                    .box.fc.mt10
                        span.box_title.fs32 The contemporary Chelsea boot
                        span.box_desc This classic fashion favorite is reinvented for now with heavy soles and modern hardware 
                        a.box_link Shop Chelsea boots
                div.sz5
                    .hlImg
                        img(src="/static/resources/a.webp", alt="a")
                    .box.fc.mt10
                        span.box_title.fs32 Great new lengths
                        span.box_desc From fluted sleeves to ruffled cuffs, these staple styles are anything but understated 
                        a.box_link Shop long-sleeved dresses
            .fc.d.jcB.mt50.z.mhe52.mb50
                .ab.fs100.net50 PORTER
                .accordion.fr#accordion
                    .item
                        img(src="/static/resources/a.webp", alt="a").item1.scale_img
                    .item
                        img(src="/static/resources/a.webp", alt="a").item2.unscale_img
                    .item
                        img(src="/static/resources/a.webp", alt="a").item3.unscale_img
                    .item
                        img(src="/static/resources/a.webp", alt="a").item4.unscale_img
        include partials/footer

    script(src="/static/js/main.js") 
    script(src="/static/js/header.js") 