footer.footer
    h1 
        <i class="far fa-envelope"></i> 
        | : drivespublic@gmail.com 
    h1 &copy; Mini Mall #{new Date().getFullYear()} 
    h1 
        <i class="fab fa-github-square"></i>
        |  : https://github.com/kuroneko-s