header.header
    .header_box
        .header_logo Sige Logo
        .header_menu 
            ul Menu 1
            ul Menu 2 
            ul Menu 3 
            ul Menu 4 
        .header_user
            .header_user_selector.header_user__sign Sign
            .header_user_selector.header_user__login Login
            //- .header_user_selector.header_user__logout Logout
            //- .header_user_selector.header_user__profile Profile