header.header
    .header_box
        a(href="/").header_logo Sige Logo
        .header_menu 
            ul 
                a(href="/items") Menu 1
            ul 
                a(href="/items") Menu 2 
            ul 
                a(href="/items") Menu 3
            ul 
                a(href="/items") Menu 4 
        .header_user
            //- .header_user_selector.header_user__sign Sign
            i.fas.fa-user-circle.header_user_selector.header_user__login#login
            //- .header_user_selector.header_user__logout Logout
            //- .header_user_selector.header_user__profile Profile
            include loginPopup.pug
    