link(rel="stylesheet", href="/static/css/loginPopup.css")

.popup.dispnone#popup
    form(action="post") 
        input(type="text", placeholder="Account").mb40
        input(type="password", placeholder="Password").mb40
        input(type="button" value="LOGIN").mb40


script(src="/static/js/loginPopup.js")