.fr {
  display: flex;
  flex-direction: row;
}

.fc {
  display: flex;
  flex-direction: column;
}

.jcB {
  justify-content: space-between;
}

.fs44 {
  font-size: 44px;
}

.he31 {
  height: 310px;
}

.mt20 {
  margin-top: 20px;
}

.rbox {
  margin: 30px auto;
}

.lbox {
  margin: auto 0;
}
