.logo {
  height: 18vh;
}

hr {
  opacity: 0.3;
}

section:first-child .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo p:nth-child(3) i {
  cursor: pointer;
}

.prent_grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  column-gap: 35px;
}

.items_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  gap: 15px;
}

.items_grid .item {
  height: 800px;
}

.items_grid img {
  width: 100%;
}

.menus {
  display: block;
}

.menus_box {
  display: block;
  position: sticky;
  width: auto;
  height: auto;
  top: 50px;
  z-index: 0;
}

.menus_subbox {
}
