:root {
  --black-arpha02: rgba(17, 17, 17, 0.2);
  --black-arpha04: rgba(17, 17, 17, 0.4);
  --black-arpha06: rgba(17, 17, 17, 0.6);
  --black-arpha08: rgba(17, 17, 17, 0.8);
  --check-box: #ff4757;
}

body {
  overflow-x: hidden;
}

hr {
  opacity: 0.3;
}

.logo {
  height: 18vh;
}

section:first-child .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo p:nth-child(3) i {
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  position: relative;
}

.options .itemCnt {
  color: var(--black-arpha06);
  font-size: 13px;
}

.options .select {
  margin: 0;
  padding: 8px 10px;
  border: 1px solid var(--black-arpha06);
  border-radius: 0.25rem;

  min-width: 20ch;
  max-width: 30ch;
  width: 100%;
  height: 30px;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;
}

.options .select_arrow {
  float: right;
}

.options .select_box {
  position: absolute;
  border: 1px solid var(--black-arpha06);
  border-radius: 0.25rem;
  z-index: 2;

  margin: 0;
  right: 0;
  top: 50px;

  font-size: 15px;
  font-weight: 500;

  min-width: 20ch;
  max-width: 30ch;
  background-color: #fff;
}

.options .select_box li {
  padding: 15px 10px;
  cursor: pointer;
}

.options .select_box li:hover {
  background-color: var(--black-arpha02);
}

.checked {
  border-left: 3px solid red;
}

.prent_grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  column-gap: 35px;
}

.items_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  gap: 35px;
}

.items_grid .item {
  z-index: 1;
  cursor: pointer;
}

.items_grid .item_box {
  max-height: 200px;
}

.items_grid .item_img {
  width: 300px;
  height: 450px;
  background: url("../resources/a.webp") no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.items_grid .item_img:hover {
  width: 300px;
  height: 450px;
  background: url("../resources/a.webp") no-repeat;
  background-size: cover;
  background-position: 0 50%;
}

.items_grid .item_box_title,
.items_grid .item_box_price {
  font-weight: 600;
  font-size: 1.2rem;
  word-break: break-all;
}

.items_grid .item_box_description,
.items_grid .item_box_small {
  font-weight: 400;
  font-size: 1rem;
  word-break: break-all;
}

.menus {
  display: block;
}

.menus_box {
  display: block;
  position: sticky;
  width: auto;
  height: auto;
  top: 50px;
  z-index: 0;
}

.menus_innerbox {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  cursor: pointer;

  min-height: 60px;
  border-bottom: 1px solid var(--black-arpha02);
}

.menus_innerbox:first-child {
  border-top: 1px solid var(--black-arpha02);
}

.menus_scrollbox {
  overflow-y: scroll;
  max-height: 90vh;
}

.menu_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu_title p:nth-child(1) {
  font-weight: 600;
  font-size: 1.2rem;
}

.menu_title p:nth-child(2) {
  font-weight: 400;
  font-size: 0.9rem;
}

.menu_item,
.menu_item p,
.menu_item span,
.menu_item i,
#checkBox span {
  pointer-events: none;
}

.menu_radio {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  width: 100%;
}

.radio_group:last-child {
  margin-bottom: 10px;
}

.radio_group {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.radio_checked {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 50%;
  border: 3px solid var(--check-box);
}

.radio_group .radio_check {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid var(--black-arpha06);
}

.menu_checked {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  min-height: 60px;
  max-height: 120px;
}

.check_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  min-width: 13ch;
  max-width: 25ch;
  height: 40px;
  padding: 0 10px;

  border: 1px solid var(--black-arpha02);
  box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.scrollbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollbtn i {
  cursor: pointer;
  font-size: 2.5rem;
  transition: 0.2s;
}

.scrollbtn i:hover {
  transform: translateY(-10px);
  cursor: pointer;
  color: var(--check-box);
}

.paging {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
