.container {
  min-height: 88vh !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .login_box {
  width: 29%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_title {
  font-size: 1.5rem;
  font-weight: 600;
}

.container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

.container form input:not([type="button"]) {
  border: none;
  border-bottom: 1px solid var(--black-arpha04);
  height: 35px;
  width: 100%;

  font-size: 1.1rem;
}

.container form input:not([type="button"]):hover {
  font-weight: 600;
}

.container form input[type="button"] {
  width: 100%;
  height: 35px;
  background-color: var(--black);
  color: var(--white);
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.container form input[type="button"]:hover {
  background-color: var(--black-arpha06);
}

.container input:focus {
  outline: none;
}

.container .account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container hr {
  opacity: 0.7;
  width: 100%;
}

.container .account_find span {
  width: auto;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

.container .account_find span:hover {
  opacity: 0.7;
  font-weight: 400;
}

.login_box .account_register {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_box .account_register input[type="button"] {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black-arpha04);

  width: 100%;
  height: 35px;
  font-size: 1.1rem;
  cursor: pointer;
}

.login_box .account_register input[type="button"]:hover {
  font-weight: 500;
}
