.popup {
  width: 350px;
  height: 400px;
  background-color: var(--white);
  position: fixed;
  color: var(--black);
  top: 50px;
  z-index: 3000;
  box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.popup:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popup:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: var(--white);
  border-width: 13px;
}

.popup form {
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.popup input:not([type="button"]) {
  border: none;
  border-bottom: 1px solid var(--black-arpha04);
  height: 35px;
  width: 90%;

  font-size: 1.1rem;
}

.popup input:not([type="button"]):hover {
  font-weight: 600;
}

.popup input[type="button"] {
  width: 90%;
  height: 35px;
  background-color: var(--black);
  color: var(--white);
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.popup input[type="button"]:hover {
  background-color: var(--black-arpha06);
}

.popup input:focus {
  outline: none;
}

.popup .account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account hr {
  opacity: 0.7;
  width: 80%;
}

.account .account_find {
  border-bottom: 1px solid var(--black-arpha04);
  padding: 10px;
  font-weight: 500;
  font-size: 0.9rem;
}

.account .account_find:hover {
  opacity: 0.7;
  font-weight: 400;
}

.account .account_register {
  width: 80%;
}

.account .account_register span {
  opacity: 0.65;
  border-bottom: 1px solid var(--black-arpha04);
}

.account .account_register span:hover {
  opacity: 1;
  font-weight: 500;
}
