body {
  height: 100vh;
  width: 100vw;
}

.container {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;

  overflow-x: hidden;
}

.a {
  overflow-y: hidden;
}

.a img,
.c img {
  width: 100%;
  height: 100%;
}

.box {
  align-items: flex-start;
  overflow: hidden;
}

.box .box_title {
  line-height: 44px;
  margin-bottom: 10px;
}

.box .box_desc {
  margin-bottom: 18px;
  line-height: 22px;
}

.box .box_link {
  cursor: pointer;
  text-decoration: underline;
}

.box .box_btn {
  cursor: pointer;
  width: 220px;
  height: 35px;
  text-align: center;

  background-color: #2f3640;
  color: aliceblue;
}

.b img {
  width: 200px;
  height: 270px;
}

.slider {
  margin-left: 30px;

  position: relative;
}

.slider .slider_box {
  width: 100%;
  height: 100%;

  flex-wrap: nowrap;
  overflow-x: hidden;
}

.slider_img_box {
  margin-top: 10px;
}

.slider_img_box:not(:last-child) {
  margin-right: 10px;
}

.slider_img_box p {
  text-align: center;
}

.lbtn {
  position: absolute;
  left: 0;
  top: 120px;
  width: 50px;
  height: 50px;
}

.rbtn {
  position: absolute;
  right: 0;
  top: 120px;
  width: 50px;
  height: 50px;
}

.d {
  position: relative;
}

.accordion {
  flex-wrap: nowrap;
}

.item {
  display: block;
}

.item img {
  height: 100%;
}

.scale_img {
  max-width: 57vw;
}

.unscale_img {
  width: 11vw;
  object-fit: cover;
}
